/*------------------------------------*
::STANDART
*------------------------------------*/

body, html {
    width: 100%;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

/*------------------------------------*
::END STANDART
*------------------------------------*/



/*------------------------------------*
                CLEARFIX
*------------------------------------*/
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}
/*------------------------------------*
            END CLEARFIX
*------------------------------------*/
