

/*------------------------------------*
::Скрытие для СЕО
*------------------------------------*/
.logo-text {
    position: absolute;
    top: 0;
    left: -9999px;
    /* text-indent: -9999px;  */
}
/*------------------------------------*
::Вертикальное центрирование
*------------------------------------*/

.vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
